
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body{
    display: flex;
    align-items: center;
    justify-content: center;
 }

 

table { 
    border: 10px solid #1a6868; 
    background-color: #1a6868;
    border-radius: 10px;
} 
  
input[type="button"] { 
    color: #fff;
    width: 100%; 
    padding: 20px 40px; 
    background-color: #38D2D2;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    cursor: pointer;
} 
  
input[type="text"] { 
    padding: 20px 30px; 
    font-size: 24px; 
    font-weight: bold; 
    border-radius: 10px;
    font-family: 'Dancing Script', cursive;
} 


input[type="button"]:disabled {
  color: #787878;
  cursor: auto;
}

input[type="button"]:hover {
  transform: scale(1.05);
}

input[type="button"]:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

input[type="button"]:focus {
  outline: 0 solid transparent;
}

input[type="button"]:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

input[type="button"]:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

input[type="button"]:not(:disabled):active {
  transform: translateY(.125rem);
}
